#main_container {
  border: solid red 2px;
}

* {
  margin: auto;
  padding: auto;
}

.col {
  margin-top: 2rem;
  border: solid red 2px;
  justify-content: space-evenly;
  display: inline-flex;
  scroll-behaviour: smooth;
  overflow-x: scroll;
}

.card {
  height: auto;
  width: auto;
}
