#main_container {
  //border: solid red 2px;
}

* {
  margin: auto;
  padding: auto;
}

.col {
  justify-content: space-evenly;
  display: inline-flex;
  scroll-behaviour: smooth;
  overflow-x: scroll;
}

#card {
  height: auto;
  width: 5rem;
}

h2 {
  margin-top: 2rem;
}

.card-container {
  //border: solid red 2px;
  margin-top: 2rem;
}

.form-outline {
  display: inline-flex;
}

.form-control {
  padding-right: 5rem;
}
